html {
    background-color: crimson;
}

body {
    background-color: white;
    width: 750px;
    padding: 20px 80px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

#target-pattern, #loop-pattern{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    letter-spacing: 3px;
}

button {
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
    border: 2px solid black;
}

.pat-section button {
    background-color: gray;
    color: white;
}

#test-btn {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
}